.idea
/__pycache__/
main.spec
/build/
/dist/

/imgs/old
/model_data/
/test_imgs/

/model_us_yolov4/
/model_yolov4/

/real_scene_cam0/
/real_scene_cam1/
/session0_center_data/
/session0_right_data/
/session6_right_data/

/dairv2x-sample/
